## Project overview
In my daily work, I often need to count the unique website visitors for specific domiain in which we implemented tracking code to track their website browsing behavior for a period of time, e.g., one month, while data for each day is stored in respective table, which means it would be unlikely to union all every table at once.

As a result, with list, for loop and format string in sql queries combined, I only need to change a few variables everytime I need to do calculation and analysis. Most importantly, it significantly reduces the time compared to doing all these in database.

In [10]:
import pyodbc
import pymysql
import numpy
import pandas as pd
from datetime import timedelta, date
from datetime import datetime
from tqdm import trange
import datetime

##### 1. Create a list that includes the range from start to end date and convert data string to format in SQL

In [2]:
mylist = []

start_dt = date(2023, 10, 25)
end_dt = date(2023, 11, 18)
for dt in daterange(start_dt, end_dt):
    mylist.append(str(dt))
    
date = [s.replace('-', '') for s in mylist]
date

['20231025',
 '20231026',
 '20231027',
 '20231028',
 '20231029',
 '20231030',
 '20231031',
 '20231101',
 '20231102',
 '20231103',
 '20231104',
 '20231105',
 '20231106',
 '20231107',
 '20231108',
 '20231109',
 '20231110',
 '20231111',
 '20231112',
 '20231113',
 '20231114',
 '20231115',
 '20231116',
 '20231117',
 '20231118']

##### 2. Connect to database and run SQL queries using format string

In [ ]:
conn = pyodbc.connect('Driver={MariaDB ODBC 3.1 Driver};Server=XX.XX.XX.XX;Database=XXX;UID=XXX;PWD=XXX')
print('Connected to Database successfully')

#Using for loop to run SQL queries and concatenate result from different tables 

df = pd.DataFrame()
for i in date:
    sql_query = """SELECT user_id
                   FROM XXX.%s
                   WHERE SOURCE = 'XXXX'
                   AND domai_name = 'XXX'
                """%(i)
           
    df_query = pd.read_sql(sql_query, conn)
    df = pd.concat([df, df_query], ignore_index = True)


    
print('Unique web visitor:',df.user_id.nunique())  

#Calculate the time it took
print('It took',datetime.now() - startTime,'minutes.')