## Project overview
In my day-to-day responsibilities, I frequently encounter the need to tally unique website visitors for a specific domain where we've implemented tracking code to monitor their browsing behavior over a defined period, such as one month. The data for each day is stored in individual tables, making it impractical to union all tables simultaneously.

To address this challenge, I leverage a combination of list structures, for loops, ,formatted string techniques, SQL queries on Python. This approach allows for seamless adjustments of a few variables whenever calculations or analyses are required. The key advantage lies in its substantial time-saving benefits compared to performing these tasks directly within the database.

In [10]:
import pyodbc
import pymysql
import numpy
import pandas as pd
from datetime import timedelta, date
from datetime import datetime
from tqdm import trange
import datetime

##### 1. Create a list that includes the range from start to end date and convert data string to format in SQL

In [ ]:
mylist = []

start_dt = date(2023, 10, 25)
end_dt = date(2023, 11, 18)
for dt in daterange(start_dt, end_dt):
    mylist.append(str(dt))
    
date = [s.replace('-', '') for s in mylist]
date

##### 2. Connect to database and run SQL queries using format string

In [ ]:
conn = pyodbc.connect('Driver={Your DB Driver};Server=XX.XX.XX.XX;Database=XXX;UID=XXX;PWD=XXX')
print('Connected to Database successfully')

#Using for loop to run SQL queries and concatenate result from different tables 

df = pd.DataFrame()
for i in date:
    sql_query = """SELECT user_id
                   FROM XXX.%s
                   WHERE SOURCE = 'XXXX'
                   AND domai_name = 'XXX'
                """%(i)
           
    df_query = pd.read_sql(sql_query, conn)
    df = pd.concat([df, df_query], ignore_index = True)


#Calculate unique visitors  
print('Unique web visitor:',df.user_id.nunique())  

#Calculate the time it took
print('It took',datetime.now() - startTime,'minutes.')